*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Mulish", Arial, sans-serif;
    background-color:  #2A4F40;
}

header {
    color: white;
    background-color:  #1f3b30;
}

h1 {
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
}

tr:nth-child(odd) td {
    background-color: #dddddd;
    color: black;
    /* border: 1px solid #2A4F40; */
}

tr:nth-child(even) td {
    color: white;
}

footer {
    color: white;
}