*{
   box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Mulish", Arial, sans-serif;
    background-color:  #2A4F40;
}

header {
    color: white;
    background-color:  #1f3b30;
    margin: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
  border: 1px solid #2A4F40;
}

footer {
    color: white;
}